
/* new blue color scheme for styles
old colors
#C5D1EB - light blue
#92AFD7 - medium blue
#5A7684 - slate blue
#395B50 - greenish blue
#1F2F16 - dark hunter greenish

new colors
#003300 - very dark green
#004d00 - forest green
#008000 - green
#fff    - light gray

*/

html {
  background: #eee;
  color: #004d00;
  overflow-y: scroll;
  font-size: 16px;
}

body {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p {
  margin: 5px 0;
}

h2 {
  margin: 0;
  text-transform: uppercase;
}

hr {
  max-width: 800px;
  margin: 3px 0;
  border-color: #fff;
}

.courses ul li:nth-child(even){
  padding-bottom: 10px;
}

.courses ul li:nth-child(odd){
  font-weight: bold;
  list-style-type: none;
}
main ul{
  margin: 0;
  padding: 0;
}

main ul ul ul ul li:nth-child(odd){
  font-weight: bold;
}
.company{
  font-weight: bold;
}

.title{
  font-style: italic;
}
.picme{
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}

.clear{
  clear: left;
}
/* Items */
main a {
   margin: auto;
   padding-bottom: 0.5em;
}

/* container */
.thumbs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding-bottom: 20px;
}

a, a:link, a:active, a:hover, a:visited {
  color: #004d00;
  text-decoration: none;
}

a.current:visited{
  color: #008000;
}

/* page header */
header {
  text-align: center;
}

h1 {
  margin: 2em 0 .5em 0;
  padding: 0;
  font-size: 2.5rem;
}

/* page navigation */
nav {
  text-align: center;
  padding-bottom: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding-left: 1em;
}

nav li:first-child {
  padding-left: 0;
}

/* footer & social links */
footer {
  text-align: center;
}

footer a {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}
